/* tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* flowchart */
.user-flow-node {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  background-color: #f6f7f9;
  border-radius: 8px;
  padding: 16px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
}
.user-flow-node-name {
  font-size: 16px;
  font-weight: bold;
  color: #252525;
  margin-bottom: 8px;
}
.user-flow-node-metric {
  font-size: 12px;
  color: #666666;
  display: flex;
  justify-content: space-between;
}
.user-flow-node-metric--value {
  font-weight: bold;
}
