/* .main {
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  background-color: #000000;
}

.bgStyle {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("../public/images/bg-8.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 100px 100px #000000 inset;
}

.menuBar {
  margin: 0 auto;
}

.menuIcon {
  display: none;
  color: #999999;
}

.divInstallment {
  padding: 0 8px;
  color: #ffffff;
  background-color: #000000;
}

.btnInvest {
  margin-top: 32px;
  width: 200px;
  height: 48px;
  border: 1px solid #5dfdcb;
  font-weight: 500;
}

.footer {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #333333;
  background-color: #000000;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.footer a span {
  width: 24px;
  height: 24px;
  color: #ffffff;
}

.footer a:hover span {
  color: #5dfdcb;
}

.title a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 3rem 0;
  line-height: 1;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
  max-width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0d76fc;
  border-color: #0d76fc;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 767.98px) {
  .menuIcon {
    display: contents;
  }

  .menuBar {
    margin: unset;
  }

  .menuPC {
    display: none;
  }

  .menuBarShow {
    margin-top: 40px;
    visibility: visible;
  }

  .bgStyle {
    background-position: left top;
    background-size: 500px;
  }
}
