@import "./reset.css";

$dark-color: #000000;
$primary-color: #beed54;

body {
  background-color: $dark-color;
}

// table css

.ant-btn-default {
  background-color: $dark-color;
}

.ant-table-wrapper {
  border: 1px solid $primary-color;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  .ant-table {
    background-color: $dark-color;
    color: white;

    .ant-table-thead > tr > th {
      background-color: $primary-color;
    }

    .ant-table-thead > tr > td {
      background-color: $primary-color;
    }

    .ant-table-tbody > tr > td.ant-table-cell-row-hover {
      background-color: #474747;
    }
  }
}

.ant-tag {
  background-color: $primary-color;
  border-color: $primary-color;
  font-weight: bold;
}

.ant-table-title {
  color: white;
  margin-bottom: 15px;
}

// Modal styles
.black-modal .ant-modal-content {
  background-color: $dark-color;
  border-radius: 1rem;
}

.black-modal .ant-modal-header,
.black-modal .ant-modal-footer {
  background-color: $dark-color;
  border: none;
}

.black-modal .ant-modal-close-x {
  color: white;
}

// popover css

.ant-popover .ant-popover-inner {
  padding: 0;
}

.ant-popover-arrow {
  background-color: $primary-color;
}

// scrollbar css

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #c9caca;
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}

.iekbcc0.iekbcc9.ju367v73.ju367v7o.ju367v9c.ju367vn.ju367vec.ju367vex.ju367v11.ju367v1c.ju367v2b.ju367v8o._12cbo8i3.ju367v8m._12cbo8i4._12cbo8i6 {
  color: $primary-color;
  background-color: #000000;
  font-weight: 400;
}
