.bgStyle {
  background-image: url("/images/bg-vault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
}
