.divInstallment {
  padding: 0 8px;
  color: #ffffff;
}

.installmentContent {
  margin: 100px 0;
}

.title {
  display: inline-block;
  margin-bottom: 48px;
  line-height: 1.5;
  border-bottom: 1px solid #ffffff;
}

@media (max-width: 767.98px) {
  .installmentContent {
    margin: 50px 0;
  }

  .title {
    margin-bottom: 24px;
  }

  .divResult {
    display: none;
  }
}
