.divSlippage {
  display: flex;
  align-items: center;

  p {
    color: #ffffff;
  }

  .slippageBtn {
    margin-left: 5px;
    padding: 0;
    width: unset;
    height: unset;
    color: #5dfdcb;
  }

  .slippageBtn:hover {
    color: #87ffd5 !important;
  }
}
