name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    if: github.repository != 'zapPilot/frontend-staging'
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [18.16.0]

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup node env
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache --check-cache

      - name: Run next lint
        run: yarn lint

      - name: Run prettier check
        run: yarn check-format

      - name: Test typescript build
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
        run: yarn build
